# --- Neon (base de datos activa) ---
DB_HOST=ep-empty-cake-axludu03-pooler.c-4.us-east-2.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_vF7GcutZAWK8
DB_SSL=true

# Host directo (sin pooler), por si se necesita para migraciones:
NEON_DIRECT_HOST=ep-empty-cake-axludu03.c-4.us-east-2.aws.neon.tech