# Configuración del Servidor Maestro
MASTER_SERVER_IP=18.118.32.137
SSH_USER=ubuntu
SSH_KEY_PATH=C:/ruta/a/tu/CloudCore.pem

# Configuración de la Base de Datos (Opcional)
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASS=password
DB_NAME=cloudcore

# JWT Secret para el Panel SaaS
JWT_SECRET=super_secret_key_change_me





SUPABASE_BASE_DE_DATOS=Et3J0046VxKA8Xbq
DB_HOST=aws-1-us-east-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.sbhvcvpnxwmfywffgaeo
DB_PASSWORD=Et3J0046VxKA8Xbq